body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
    height: 90vh;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

